<apex:page renderas="{!RptRenderAs}" controller="EduSessionsSessionListing_Controller">
<apex:pageMessages id="msg" />
 <apex:form >
    <apex:pageBlock title="{! Conference.Name }: {!PageTitle}" mode="maindetail">
    
       <apex:commandButton action="{! viewConferenceReports }" value="Reports Main Menu" rendered="{!IF(RptRenderAs == '', true, false)}" /> &nbsp; <apex:commandButton value="Print View" action="{!PrintOutput}" rendered="{!IF(RptRenderAs == '' && WizardStep > 1, true, false)}" />
 &nbsp; 
    <apex:commandButton action="{!WizardBack}" value="Back" rendered="{!IF(WizardStep > 1,true,false)}" immediate="true" />


        <apex:outputPanel rendered="{!IF(WizardStep=1,true,false)}">
            <apex:PageBlockSection columns="1">
               <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Report Type" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:selectRadio value="{!RTypeSel}" label="Please select a Report Type from the list">
                                <apex:selectOptions value="{!RTypeItems}"></apex:selectOptions>
                            </apex:selectRadio>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:PageBlockSection>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!IF(WizardStep=2,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a">
                <div style="padding: 4px;">{!a.Session_Number__c}-{!a.Timeslot__r.Timeslot_Code__c}: {!a.Title__c}</div>
            </apex:repeat>
            <div style="padding: 4px;">Grand Total: {!SessionInfoSize}</div>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!IF(WizardStep=3,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a">
                <c:GroupHeader HeaderValue="{!a.Timeslot__r.Timeslot_Code__c}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger;~>({!a.Timeslot__r.Timeslot_Code__c}) {!a.Timeslot__r.Timeslot__c} &nbsp; <span style=~font-style: italic; color: #000080~>Timeslot Total: #SOQLCOUNT#</span></h2><hr width=~100%~ size=~1~ />" SecondHeaderValue="{!a.Conference_Track__r.Name}" SecondHeaderDisplay="<span style=~font-style: italic; color: #000080~>{!a.Conference_Track__r.Name}</span>"></c:GroupHeader>
                <div style="padding-left: 16px;">{!a.Session_Number__c}-{!a.Timeslot__r.Timeslot_Code__c}: {!a.Title__c}</div>
            </apex:repeat>
            <div style="padding: 4px;">Grand Total: {!SessionInfoSize}</div>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!IF(WizardStep=4,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a">
                <c:GroupHeader HeaderValue="{!a.Conference_Track__r.Name}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger; color: #000080~>{!a.Conference_Track__r.Name} &nbsp; <i>Total Sessions: #SOQLCOUNT#</i></h2><hr width=~100%~ size=~1~ />" SecondHeaderValue="({!a.Timeslot__r.Timeslot_Code__c}) {!a.Timeslot__r.Timeslot__c}"></c:GroupHeader>
                <div style="padding-left: 16px;">{!a.Session_Number__c}-{!a.Timeslot__r.Timeslot_Code__c}. {!a.Title__c}</div>
            </apex:repeat>
            <br />
            <div style="padding: 4px;"><h2>Grand Total: {!SessionInfoSize}</h2></div>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!IF(WizardStep=5,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a">
<!--
                <c:GroupHeader HeaderValue="{!a.Session__r.Timeslot__r.Timeslot_Code__c}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger;~>({!a.Session__r.Timeslot__r.Timeslot_Code__c}) {!a.Session__r.Timeslot__r.Timeslot__c} &nbsp; Timeslot Total: #SOQLCOUNT#</h2><hr width=~100%~ size=~1~ />" SecondHeaderValue="{!a.Session__r.Conference_Track__r.Name}"></c:GroupHeader>
                <div style="padding-left: 16px;"><table cellspacing="1" cellpadding="1" border="0"><tr><td width="25">{!a.Session__r.Session_Number__c}</td><td width="25"><span style="color: red;">({!BLANKVALUE(a.Proposal_Number__c, 0)})</span></td><td>{!a.Session__r.Title__c}</td></tr></table></div>
-->
                <c:GroupHeader HeaderValue="{!a.Timeslot__r.Timeslot_Code__c}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger;~>({!a.Timeslot__r.Timeslot_Code__c}) {!a.Timeslot__r.Timeslot__c} &nbsp; Timeslot Total: #SOQLCOUNT#</h2><hr width=~100%~ size=~1~ />" SecondHeaderValue="{!a.Conference_Track__r.Name}" SecondHeaderDisplay="<span style=~font-style: italic; color: #000080~>{!a.Conference_Track__r.Name}</span>"></c:GroupHeader>
                <div style="padding-left: 16px;"><table cellspacing="1" cellpadding="1" border="0"><tr><td width="25">{!a.Session_Number__c}</td><td width="25"><span style="color: red;">({!a.Proposal__r.Proposal_Number__c})</span></td><td>{!a.Title__c}</td></tr></table></div>
            </apex:repeat>
            <div style="padding: 4px;">Grand Total: {!SessionInfoSize}</div>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!IF(WizardStep=6,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a">
                <c:GroupHeader HeaderValue="{!a.Conference_Track__r.Name}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger;~>{!a.Conference_Track__r.Name} &nbsp; Total Sessions: #SOQLCOUNT#</h2><hr width=~100%~ size=~1~ />" SecondHeaderValue="({!a.Timeslot__r.Timeslot_Code__c}) {!a.Timeslot__r.Timeslot__c}" SecondHeaderDisplay="<span style=~font-style: italic; color: #000080~>({!a.Timeslot__r.Timeslot_Code__c}) {!a.Timeslot__r.Timeslot__c}</span>"></c:GroupHeader>
                <div style="padding-left: 16px;"><table cellspacing="1" cellpadding="1" border="0"><tr><td width="25">{!a.Session_Number__c}</td><td width="25"><span style="color: red;">({!a.Proposal__r.Proposal_Number__c})</span></td><td>{!a.Title__c}</td></tr></table></div>
            </apex:repeat>
            <br />
            <div style="padding: 4px;"><h2>Grand Total: {!SessionInfoSize}</h2></div>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!IF(WizardStep=7,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a">
                <c:GroupHeader HeaderValue="{!a.Education_Staff__r.Name}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger;~>{!a.Education_Staff__r.Name} &nbsp; Staff Total: #SOQLCOUNT#</h2><hr width=~100%~ size=~1~ />" SecondHeaderValue="{!a.Conference_Track__r.Name}{!a.Education_Staff__r.Name}" SecondHeaderDisplay="<span style=~font-style: italic; color: #000080;~>{!a.Conference_Track__r.Name} &nbsp; (#SOQLCOUNT#)</span>"></c:GroupHeader>
                <div style="padding-left: 16px;"><table cellspacing="1" cellpadding="1" border="0"><tr><td width="25"><span style="color: red;">({!a.Proposal__r.Proposal_Number__c})</span></td><td width="35">{!a.Session_Number__c}-{!a.Timeslot__r.Timeslot_Code__c}:</td><td>{!a.Title__c}</td></tr></table></div>
            </apex:repeat>
            <br />
            <div style="padding: 4px;"><h2>Grand Total: {!SessionInfoSize}</h2></div>
        </apex:outputPanel>
    </apex:pageBlock>
    
    <apex:commandButton action="{!WizardBack}" value="Back" rendered="{!IF(WizardStep > 1 && WizardStep != WizardMax,true,false)}" immediate="true" />    
    <apex:commandButton action="{!WizardNext}" value="Next" rendered="{!IF(WizardStep < 2,true,false)}"/>
 </apex:form>
</apex:page>