<apex:page standardController="Account" extensions="MultiSitePSRAggregatorController">
	<apex:pageMessages />

	<apex:form rendered="{! ShowForm }">
		Are you sure?
		<apex:commandButton value="Proceed" id="Proceed" action="{!Calculate}" />
	</apex:form>
</apex:page>