<apex:page standardController="Lead" extensions="NimbleLeadConversionController" title="Convert Lead">
    <apex:sectionHeader title="Convert Lead" subtitle="{!lead.FirstName} {!lead.LastName}" />
    <apex:form >
        <apex:pageBlock >
            <apex:pageMessages />
            
            <apex:pageBlockButtons >
                <apex:commandButton action="{!convert}" value="Convert" />
                <apex:commandButton action="{!cancel}" value="Cancel" />
            </apex:pageBlockButtons>

            <apex:pageBlockSection title="Convert Lead" columns="1" id="lead_convert">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Company Name" for="company_name" />
                    <apex:selectList value="{!company}" size="1" required="true" id="company_name">
                        <apex:selectOptions value="{!companyOptions}" />
                        <apex:actionSupport event="onchange" reRender="lead_convert" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!company == 'New'}">
                    <apex:outputLabel value="Company Record Type" for="company_record_type" />
                    <apex:selectList value="{!companyRecordType}" size="1" required="false" id="company_record_type">
                        <apex:selectOptions value="{!companyRecordTypeOptions}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Record Owner" for="record_owner" />
                    <apex:inputField value="{!Individual.OwnerId}" id="record_owner" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>