<apex:page standardController="NU__Order__c" extensions="RelatedListOrderExhibitor">
	<c:RelatedListExhibitor Items="{!RelatedList}"
    	Fields="{!$ObjectType.Exhibitor__c.FieldSets.Exhibitor_Columns}"
    	NameColumnHeader="{!$ObjectType.Exhibitor__c.fields.Name.label}" />
</apex:page>