<apex:page controller="NU.LandingPageController" extensions="NU.AccountLandingPageControllerExtension" tabStyle="AccountsHome__tab">
   <apex:composition template="NU__LandingPageTemplate">
        <apex:define name="sectionHeader">
            <apex:sectionHeader title="Accounts" help="{!URLFOR($Page.NU__HelpAccounts)}"/>
        </apex:define>   
    
    <apex:define name="generalPanel">
        <apex:outputPanel styleClass="general-links-wrapper" style="border-right:none;width:98%;" layout="block">                         
            <h1>What would you like to do?</h1>
            <apex:form id="generalLinksForm">
                <table width="100%">
                    <tr>
                        <td>                        
                            <apex:outputPanel >                             
                                <apex:outputLink rendered="{!!ISBLANK(IndividualAcctRecordTypeId)}" value="/001/e?RecordType={!IndividualAcctRecordTypeId}" styleClass="addmember generalLink">{!NewPersonText}</apex:outputLink>
                                <apex:outputLink rendered="{!ISBLANK(IndividualAcctRecordTypeId)}" value="{!URLFOR($Action.Account.New)}" styleClass="addmember generalLink">New Person</apex:outputLink>             
                            </apex:outputPanel>
                        </td>
                        <td>                        
                            <apex:outputPanel >                             
                                <apex:outputLink rendered="{!!ISBLANK(OrganizationAcctRecordTypeId)}" value="/001/e?RecordType={!OrganizationAcctRecordTypeId}" styleClass="addcompany generalLink">{!NewCompanyText}</apex:outputLink>
                                <apex:outputLink rendered="{!ISBLANK(OrganizationAcctRecordTypeId)}" value="{!URLFOR($Action.Account.New)}" styleClass="addcompany generalLink">New Company</apex:outputLink>
                            </apex:outputPanel>
                        </td>
                        <td>                        
                            <apex:outputPanel >                             
                                <apex:outputLink value="{!URLFOR($Action.Affiliation__c.New, $ObjectType.Affiliation__c)}" styleClass="addaffiliation generalLink">New Affiliation</apex:outputLink>             
                            </apex:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td>    
                            <apex:outputPanel >               
                                <apex:commandLink action="{!DashboardURLRedirect}" value="Accounts Dashboard" styleClass="dashboard generalLink">
                                    <apex:param value="AccountDashboard" assignTo="{!dashboardDeveloperName}"></apex:param>
                                </apex:commandLink>
                            </apex:outputPanel>
                        </td>
                        <td>     
                            <apex:outputPanel >               
                                <apex:commandLink action="{!ReportFolderURLRedirect}" value="Account Reports" styleClass="reports generalLink">
                                    <apex:param value="NimbleAMSAccounts" assignTo="{!reportFolderDeveloperName}"></apex:param>
                                </apex:commandLink>            
                            </apex:outputPanel>
                        </td>                      
                    </tr>
                </table>        
            </apex:form>
        </apex:outputPanel>
    </apex:define>
    <apex:define name="objectPageBlockSection">
            <apex:pageBlockSection title="Accounts" columns="1">
                <apex:enhancedList height="500" type="Account" />
            </apex:pageBlockSection>
        </apex:define>
     </apex:composition>
</apex:page>