<apex:page standardController="NU__CouponCode__c" extensions="NU.GenerateCouponController" id="page" recordsetvar="coupons">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
	<apex:form id="form" >
		<div class="bPageTitle">
			<div class="ptBody">
				<h1 class="pageType">&nbsp;</h1>
				<h2 class="pageDescription">Processing...</h2>
			</div>
		</div>
		<apex:commandButton value="Submit" id="submit" action="{!GenerateCoupon}" style="display:none" />
	</apex:form>
	<script type="text/javascript">
		$(document).ready(function(){
			document.getElementById("page:form:submit").click();
		});
	</script>
</apex:page>