<!-- Can we pass an parameter to action - {!doSubscriptions('Subscriptions'} -->
<apex:page controller="NU.HelpRedirect" action="{!doSubscriptions}" >
 <apex:form >
        <apex:commandButton action="{!doDefault}" value="Open Nimble AMS Online Help"/>
 </apex:form>
</apex:page>