<apex:page standardController="NU__Order__c" extensions="NU.SendOrderConfirmation" showHeader="false" sidebar="false" standardStylesheets="false">
    <style type="text/css">
        body { margin: 0px; }
        img { border: 0px; }
        #buttons {
            margin: 10px;
            font-size: 75%;
            font-family: Arial, Helvetica, sans-serif;
        }
        .btn {
            padding: 4px 3px;
            color: #333;
            margin: 1px;
            border: 1px solid #B5B5B5;
            border-bottom-color: #7F7F7F;
            background: #E8E8E9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
            font-weight: bold;
            font-size: .9em;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
        .btn:hover {
            background-position: right -30px;
        }
        .btn:active {
            background-position: right -60px;
            border-color: #585858;
            border-bottom-color: #939393;
        }
        .lookupInput img {
            vertical-align: middle;
            margin-right: .25em;
            background-repeat: no-repeat;
        }
        .lookupIcon {
            background-image: url(/img/func_icons/util/lookup20.gif);
            background-position: 0px 0px;
            width: 20px;
            height: 20px;
            background-position: top left;
        }
        .lookupIconOn {
            background-image: url(/img/func_icons/util/lookup20.gif);
            background-position: 0px 0px;
            width: 20px;
            height: 20px;
            background-position: top right;
        }
        .lookupInput {
            vertical-align: middle;
        }
		.message{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#FFC;border-style:solid;border-width:1px;padding:6px 8px 6px 6px;margin:4px 20px}
		.errorM3{border-color:#C00}
		.errorM3 .msgIcon{background-image:url(/img/msg_icons/error24.png);background-position:0 0;width:24px;height:24px}
		.warningM3{border-color:#f90}
		.warningM3 .msgIcon{background-image:url(/img/msg_icons/warning24.png);background-position:0 0;width:24px;height:24px}
		.infoM3{border-color:#39f}
		.infoM3 .msgIcon{background-image:url(/img/msg_icons/info24.png);background-position:0 0;width:24px;height:24px}
		.confirmM3{border-color:#390}
		.confirmM3 .msgIcon{background-image:url(/img/msg_icons/confirm24.png);background-position:0 0;width:24px;height:24px}
		.message .messageText{margin-left:8px}
		.message .messageTable .messageCell{vertical-align:middle}
		.message .messageTable .messageCell h4{margin:0}
		.errorMsg{color:#d74c3b}
    </style>
    <style type="text/css" media="print">
        #buttons { display:none; }
    </style>
    <div id="buttons">
        <apex:form >
            <input class="btn" type="button" value="Print (Ctrl+P)" onclick="print()"/>
            <apex:commandButton value="Send Email" action="{!Send}" styleClass="btn"/>
            <br/><br/>
            
            <apex:pageMessages />
            
            Recipient(s):
            <apex:repeat value="{!RecipientContacts}" var="c">
                <apex:outputText value=" {!c.Name} ({!c.PersonContact__r.Email});" rendered="{!!ISBLANK(c.PersonContact__r.Email)}"/>
                <apex:outputText style="color:red" value=" {!c.Name} (no email address);" rendered="{!ISBLANK(c.PersonContact__r.Email)}"/>
            </apex:repeat>
            <br/>
            Additional Recipient:
            <apex:inputField value="{!DummyOrder.NU__BillTo__c}" label="Additional Recipient">
                <apex:actionSupport event="onchange" action="{!CheckAdditionalRecipient}"/>
            </apex:inputField>
            <apex:outputText value="({!AdditionalRecipient.PersonContact__r.Email})" rendered="{!!ISBLANK(AdditionalRecipient.PersonContact__r.Email)}"/>
            <!--
            Additional Recipients (comma separated list)<br/>
            <apex:inputText value="{!Recipients}" style="width:100%" />
            <apex:outputText value="{!Output}" escape="false"/>
             -->
        </apex:form>
        <hr/>
    </div>
    <c:OrderConfirmation o="{!Id}" />
</apex:page>