<apex:page standardController="NU__Cart__c" extensions="NU.OrderController">
    <apex:composition template="NU__OrderProcessTemplate">
        <apex:define name="externalResources" />
        <apex:define name="orderMainBody">
            <c:OrderPurchaseMiscellaneous c="{!this}"/>
        </apex:define>
    </apex:composition>
</apex:page>