<apex:page standardController="NU__Cart__c" extensions="NU.OrderController">
    <apex:stylesheet value="{!URLFOR($Resource.NU__OrderCSS)}"/>
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/smoothness/jquery-ui.css" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" />

    <apex:insert name="externalResources" />

    <!-- <apex:pageMessage summary="This order has been cancelled and can't be changed."
                      severity="Error"
                      strength="2"
                      rendered="{! IsOrderCancelled == true && CurrentCartItem.OrderItem__r.Balance__c == 0 }"
                      escape="false" />-->

    <div id="pleaseWaitModal" class="pleaseWaitModalHidden">
        <div style="text-align: center;">
            <apex:image value="{!URLFOR($Resource.NU__Loader)}" />
        </div>
    </div>

    <apex:form id="form" styleclass="orderFormContainer"> <!-- rendered="{! IsOrderCancelled == false || (IsOrderCancelled == true && CurrentCartItem.OrderItem__r.Balance__c != 0) }" -->
        <table class="orderContainerTable" cellpadding="0" cellspacing="0">
          <tbody>
              <tr>
                <td class="orderMainBodyTDContainer">
                    <apex:insert name="orderMainBody" />
                </td>
                <td class="orderSidebarTDContainer">
                    <c:OrderSidebar c="{!this}" id="nusidebar"/>
                </td>
              </tr>
          </tbody>
        </table>
    </apex:form>

    <apex:includeScript value="{!URLFOR($Resource.NU__OrderJS)}"/>
</apex:page>