<apex:page standardController="NU__Order__c" extensions="NU.RelatedListOrderMerchandise">
	<c:RelatedList Items="{!Merchandise}"
		Fields="{!$ObjectType.NU__Merchandise__c.FieldSets.NU__MerchandiseColumns}"
		NameColumnHeader="{!$ObjectType.NU__Merchandise__c.Fields.Name.Label}" />
</apex:page>