<apex:page standardController="Account" extensions="NU.AffiliationsController" tabStyle="Account" >
	<style type="text/css">
		.bPageBlock { margin: 0px !important }
	</style>
	<script type="text/javascript">
		function toggle(id, link) {
			var e = document.getElementById(id);
			if(e.style.display == "block")
			{
				e.style.display = "none"; link.innerText = "+";
			} 
			else
			{
				e.style.display = "block";
				link.innerText = "-";
			}
		}
	</script>
	<apex:pageBlock mode="maindetail">
		<div style="padding-left: 12px;">
		<!-- <apex:outputText value="{!AffiliationTree}" escape="false" /> -->
			<apex:dynamicComponent componentValue="{!AffiliationTreeComponent}"/>
		</div>
	</apex:pageBlock>
</apex:page>