<apex:page controller="NU.DisabledTriggersController">
	<apex:form >
    
     	<apex:pageMessages />
     	
     	<p>
     		Please enter, on each line, the trigger name that should be disabled.
     	</p>
     	
     	<div>
			<apex:inputTextArea id="disabledTrigsTA" 
			   value="{!DisabledTrigs}"
			   rows="10"
			   cols="80"
			/>
		</div>
	
		<apex:commandButton value="Save" action="{!Save}" />
	</apex:form>

</apex:page>