<apex:page >
    <style type="text/css">
        .generalLink {font-size: 14px;display: block;padding-top: 15px;text-decoration:none;text-align:middle;}
        .quicklink-panel{margin-top:15px;overflow:hidden;}   
        .general-links-wrapper{min-width:65%;{!IF($Profile.Name = 'System Administrator','border-right:#BCBCBC solid 1px;','width:98%;')}float:left;min-height:165px;}
        .general-links-wrapper, .admin-links{margin-bottom:10px;}
        .general-links-wrapper h1,.admin-links h1{font-size:1.8em;display:block;}
        .admin-links{float:right;min-width:20%;}
        .admin-links div{margin:10px 0;}
        a.adminLink,a.adminLink:active,a.adminLink:visited{border-bottom:1px solid #000;font-size: 14px;text-decoration:none;}
        a.adminLink:hover{border-bottom:1px solid #015BA7;text-decoration:none;}
        .general-links-wrapper td{width:32%;text-align:center;vertical-align:baseline;}
        .general-links-wrapper td a{padding-top:90px;max-width:120px;margin:auto;}
        .general-links-wrapper td a.newbatch{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'calculator.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.addaffiliation{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'add_link.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.addmember{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'add_male_user.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.addcompany{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'add_company.png')}) no-repeat center 0px;background-size:75%;}
        .general-links-wrapper td a.newdonation{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'add_donation.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.newsubscription{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'add_subscription.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.newmiscellaneous{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'shopping_cart.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.badge{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'id_card.png')}) no-repeat center 5px;background-size:75%;}
        .general-links-wrapper td a.answers{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'light_bulb.png')}) no-repeat center 5px;background-size:70%;}
        .general-links-wrapper td a.dashboard{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'dashboard.png')}) no-repeat center -15px;}
        .general-links-wrapper td a.reports{background: url({!URLFOR($Resource.NU__LandingPageIcons, 'chart_pie.png')}) no-repeat center 5px;background-size:75%;}
        .firstcol{padding-right:65px;}
        .admin-links-wrapper{float:left;padding-left:2%;width:29%;}
    </style>
    
    <apex:insert name="sectionHeader"/>
    <apex:pageBlock >
        <apex:outputPanel styleClass="quicklink-panel" layout="block">          
            <apex:insert name="generalPanel"/>
            <apex:insert name="adminPanel" />
        </apex:outputPanel>
        <div style="clear:both"></div>
        <apex:insert name="objectPageBlockSection"/>
    </apex:pageBlock>
</apex:page>