<apex:page standardController="NU__DeferredSchedule__c" extensions="NU.RelatedListDeferredRevRecTransactions">
    <c:RelatedList Items="{!RecognizedTransactions}"
        Fields="{!$ObjectType.NU__Transaction__c.FieldSets.NU__DeferredRevenueRecognizedTransactions}"
        NameColumnHeader="{!$ObjectType.NU__Transaction__c.fields.Name.label}"
        Title="Recognized Transactions" />
</apex:page>