<apex:page standardController="NU__Order__c" extensions="NU.RelatedListOrderRegistrations">
	<c:RelatedList Items="{!Registrations}"
		Fields="{!$ObjectType.NU__Registration2__c.FieldSets.NU__RegistrationColumns}"
		NameColumnHeader="{!$ObjectType.NU__Registration2__c.fields.Name.label}" />
</apex:page>