<apex:page standardController="Contact" extensions="kwzd.KWSingleContactProcess" action="{!executeupdate}">
<apex:sectionHeader title="KnowWho Zip to District"/>

<apex:outputfield rendered="false" value="{!contact.kwzd__ZTDM_Expiry_Date__c}"/>
<apex:outputfield rendered="false" value="{!contact.MailingStreet}"/>
<apex:outputfield rendered="false" value="{!contact.MailingCity}"/>
<apex:outputfield rendered="false" value="{!contact.MailingState}"/>
<apex:outputfield rendered="false" value="{!contact.MailingPostalCode}"/>

<apex:pageBlock >

<apex:outputPanel id="baddresserror" rendered="{!showaddresserror}">
This record does not have a complete address. Please ensure the Street, City, State and Zipcode are completed and try again.
<br/><br/>
<apex:outputLink value="/{!contact.Id}">Return to Record</apex:outputLink>
</apex:outputPanel>

<apex:outputPanel id="badziperror" rendered="{!showziperror}">
This record does not have a valid zipcode. Please ensure the zipcode is a valid 5 digit or 9 digit zipcode (#####-####) and try again.
<br/><br/>
<apex:outputLink value="/{!contact.Id}">Return to Record</apex:outputLink>
</apex:outputPanel>

<apex:outputPanel id="berror" rendered="{!showcrediterror}">
You do not have enough available credits to process this batch. Please contact your KnowWho sales representative to purchase additional credits.<br/>
<br/><br/>
<apex:outputLink value="/{!contact.Id}">Return to Record</apex:outputLink>
</apex:outputPanel>

<apex:outputPanel id="bexperror" rendered="{!showexpiryerror}">
Your KnowWho Zip To District Matching subscription has expired. Please contact your KnowWho sales representative to renew your subscription.<br/>
<br/><br/>
<apex:outputLink value="/{!contact.Id}">Return to Record</apex:outputLink>
</apex:outputPanel>

</apex:pageBlock>
</apex:page>