<apex:page StandardController="kwzd__KnowWho_Batch_Filters__c" extensions="kwzd.KWFilterController">
<apex:sectionHeader title="Add or Edit Batch Filter"/>
<apex:form >
<apex:outputPanel rendered="false">
{!kwzd__KnowWho_Batch_Filters__c.kwzd__API_Name__c}
{!kwzd__KnowWho_Batch_Filters__c.kwzd__Operator__c}
{!kwzd__KnowWho_Batch_Filters__c.kwzd__KnowWho_Zip_to_District__c}
{!kwzd__KnowWho_Batch_Filters__c.kwzd__Field_Type__c}
</apex:outputPanel>
<apex:pageBlock id="filters" >
<apex:messages />
<apex:panelGrid columns="2">
<apex:outputLabel >Select Field</apex:outputLabel>
<apex:selectList size="1" value="{!cfield}">
<apex:selectOptions value="{!afields}"/>
<apex:actionSupport event="onchange" action="{!refresh}" rerender="filters" status="cvalues"/>
</apex:selectList>
<apex:outputLabel >Select Operator</apex:outputLabel>
<apex:selectList id="operators" size="1" value="{!coperator}">
<apex:selectOptions value="{!operators}"/>
</apex:selectList>
<apex:outputLabel value="Filter Value">
<apex:actionStatus id="cvalues" startText="Refreshing filter, please wait just a moment."/>
</apex:outputLabel>
<apex:inputField rendered="{!!showpvalues}" value="{!kwzd__KnowWho_Batch_Filters__c.kwzd__Filter_Value__c}"/>
<apex:selectList rendered="{!showpvalues}" id="pvalues" size="1" value="{!pvalue}">
<apex:selectOptions rendered="{!showpvalues}" value="{!pvalues}"/>
</apex:selectList>
</apex:panelGrid>
<apex:pageBlockButtons >
<apex:commandButton value="Submit" action="{!updatefilter}"/>
</apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>
</apex:page>