<apex:page standardController="Conference_Proposal__c"
           extensions="ProposalToSessionConverterController"
           recordSetVar="SelectedProposals">

	<apex:pageMessages />
	<apex:pageMessage rendered="{! SelectedPropsCount == 0}"
	                  Severity="error"
	                  summary="No conference proposals were selected to be converted."
	                  Strength="2" />
	
	<apex:pageMessage rendered="{! Successful == true}"
	                  Severity="confirm"
	                  summary="The proposal(s) have been converted to session(s)."
	                  Strength="2" />
	
	<apex:form rendered="{! SelectedPropsCount > 0 && Successful == false}">
		<p>Convert the {! If (SelectedPropsCount == 1, 'proposal', 'proposals') } to 
		{! If (SelectedPropsCount == 1, ' a session', 'sessions') }?
		</p>
		
		<apex:commandButton value="Proceed" action="{!Convert}" />
		
	
	</apex:form>


</apex:page>