<apex:page controller="QuarterlyActivityReportController">
<apex:stylesheet value="{!URLFOR($Resource.LeadingAgeStyle, 'LeadingAge.css')}"/>
<style type="text/css">
body .bPageTitle .ptBody h1.noSecondHeader {font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal}
td.pbTitle h2.mainTitle {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold}
input.btn {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; padding: 4px 3px; border: 1px solid #b5b5b5;
border-bottom-color: #7f7f7f; background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;}
</style>
        <apex:define name="sectionHeader">
            <apex:sectionHeader title="Quarterly Activity Report" help="#"/>
            <apex:pageMessages />
        </apex:define>   
    <apex:form >
    <!--<p>The dues-related data below was used to calculate this quarterly invoice for your association. <br/>
    You can access the online help system to get more information about quarterly invoices, and the terms used here-in.</p>-->
    
    <apex:selectList value="{!SelectedState}" multiselect="false" size="1" rendered="{!isUserLeadingAgeStaff}">
        <apex:selectOption itemValue="-1" itemLabel=" -- Select State --" />
        <apex:selectOptions value="{!items}"/>
    </apex:selectList>
    <apex:outputText rendered="{!isUserLeadingAgeStaff}"><br/><br/></apex:outputText>
   
    <apex:selectList value="{!SelectedYear}" multiselect="false" size="1">
        <apex:selectOption itemValue="-1" itemLabel=" -- Select Year --" />
        <apex:selectOptions value="{!years}"/>
    </apex:selectList>
    <apex:outputText ><br/><br/></apex:outputText>
    
    <apex:selectList value="{!SelectedQuarter}" multiselect="false" size="1">
        <apex:selectOption itemValue="-1" itemLabel=" -- Select Quarter --" />
        <apex:selectOptions value="{!quarters}"/>
    </apex:selectList>
    <br/><br/>
    <apex:commandButton action="{!Run}" value="Run Report" title="Run Report"/>
    <apex:outputText ><br/><br/></apex:outputText>
    </apex:form>
   
<!-- REPORT -->
<!--<apex:pageBlock rendered="{!QuarterlyDocument.size!=0}" >
        <apex:PageBlockTable value="{!QuarterlyDocument}" var="aa" >
            <apex:column headervalue="Invoice">
                   <apex:outputlink value="/servlet/servlet.FileDownload?file={!aa.Id}" target="_blank">Report</apex:outputlink>
             </apex:column>
             <apex:column headervalue="Name">
                  <apex:outputtext value="{!aa.Name}" />
              </apex:column>
        </apex:PageBlockTable>
</apex:pageBlock>-->

<!-- JOINED -->     
      <apex:pageBlock title="Joined companies in this state" rendered="{!SelectedYear != -1 && SelectedQuarter != -1 && SelectedYear != null && SelectedQuarter != null}">
          
          <apex:PageBlockTable value="{!joinedDuesData}" var="dd" >
              
              <apex:column style="width:100px" headervalue="Record ID">
                  <apex:outputlink value="/{!dd.accountDetail.Account__r.ID}" target="_blank">{!dd.accountDetail.Account__r.LeadingAge_ID__c}</apex:outputlink>
              </apex:column>

              <apex:column style="width:300px" headervalue="Company name">
                  <apex:outputtext value="{!dd.accountDetail.Account__r.Name}" />
                  <apex:outputtext rendered="{!IF('Special Arrangement for dues field' == 'Yes', true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column style="width:250px" headervalue="Company type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputfield value="{!dd.accountDetail.Account__r.NU__RecordTypeName__c}" />
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Bill_Jointly__c == true, true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column style="width:250px" headervalue="Affilliation type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputtext value="{!dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.NU__RecordTypeName__c}" />
              </apex:column>


              <apex:column style="width:150px" headervalue="Joined (or reinstated)">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Join_On__c}" />
              </apex:column>

              <apex:column style="width:150px" headervalue="Lapsed">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Membership__r.Last_Provider_Lapsed_On__c}" />
              </apex:column>

              <apex:column style="width:100px" headervalue="Fiscal Year">
                  <apex:outputtext value="{!dd.SelectedYearMembership.Revenue_Year_Submitted__c}" />
                  <apex:outputtext rendered="{!IF(ISNUMBER(dd.SelectedYearMembership.Revenue_Year_Submitted__c), IF(VALUE(dd.SelectedYearMembership.Revenue_Year_Submitted__c) < SelectedYear - 4, true, false), false)}">*</apex:outputtext>
              </apex:column>
 
             <!--<apex:column headervalue="Program Revenue" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Program_Service_Revenue__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Program_Service_Revenue__c == null, true, false)}">**</apex:outputtext>
                  <apex:outputlink value="/{!dd.accountDetail.id}" target="_blank"><sup>(+)</sup></apex:outputlink>
              </apex:column>-->

              <!--<apex:column headervalue="Previous year dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedPreviousYearMembershipSummary.Amount__c}" />
              </apex:column>-->

              <!--<apex:column headervalue="Millage-based dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Dues_Price__c}" />
              </apex:column>-->

              <!--<apex:column headervalue="Invoiced dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}" value="$0.00" />
                  <apex:outputfield rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, false, true)}" value="{!dd.SelectedYearMembership.Amount__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Amount__c != dd.SelectedYearMembership.Dues_Price__c, true, false)}">***</apex:outputtext>
              </apex:column>-->
          </apex:PageBlockTable>
      <br/>
      
      <!--<table border="0" cellspacing="5px">
          <tr>
            <td>Gross annual dues for joined companies:</td>
            <td colspan="2" align="right">
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!joinedDuesDataGrossAnnualDues}"/>
                </apex:outputText>
            </td>
          </tr>
          <tr>
            <td>15% Collection fee:</td>
            <td colspan="2" align="right"><em>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!joinedDuesDataServiceFee}"/>
                </apex:outputText></em>
            </td>
          </tr>
          <tr>
            <td>LeadingAge dues less collection fee:</td>
            <td colspan="2" align="right"><strong>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!joinedDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></strong>
            </td>
          </tr>
      </table>-->

      </apex:pageBlock>
<!-- LAPSED -->     
      <apex:pageBlock title="Canceled companies in this state" rendered="{!SelectedYear != -1 && SelectedQuarter != -1 && SelectedYear != null && SelectedQuarter != null}">
          
          <apex:PageBlockTable value="{!lapsedDuesData}" var="dd" >
              
              <apex:column style="width:100px" headervalue="Record ID">
                  <apex:outputlink value="/{!dd.accountDetail.Account__r.ID}" target="_blank">{!dd.accountDetail.Account__r.LeadingAge_ID__c}</apex:outputlink>
              </apex:column>

              <apex:column style="width:300px" headervalue="Company name">
                  <apex:outputtext value="{!dd.accountDetail.Account__r.Name}" />
                  <apex:outputtext rendered="{!IF('Special Arrangement for dues field' == 'Yes', true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column style="width:250px" headervalue="Company type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputfield value="{!dd.accountDetail.Account__r.NU__RecordTypeName__c}" />
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Bill_Jointly__c == true, true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column style="width:250px" headervalue="Affilliation type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputtext value="{!dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.NU__RecordTypeName__c}" />
              </apex:column>


              <apex:column style="width:150px" headervalue="Joined (or reinstated)">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Join_On__c}" />
              </apex:column>

              <apex:column style="width:150px" headervalue="Lapsed">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Membership__r.Last_Provider_Lapsed_On__c}" />
              </apex:column>

              <apex:column style="width:100px" headervalue="Fiscal Year">
                  <apex:outputtext value="{!dd.SelectedYearMembership.Revenue_Year_Submitted__c}" />
                  <apex:outputtext rendered="{!IF(ISNUMBER(dd.SelectedYearMembership.Revenue_Year_Submitted__c), IF(VALUE(dd.SelectedYearMembership.Revenue_Year_Submitted__c) < SelectedYear - 4, true, false), false)}">*</apex:outputtext>
              </apex:column>
 
              <!--<apex:column headervalue="Program Revenue" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Program_Service_Revenue__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Program_Service_Revenue__c == null, true, false)}">**</apex:outputtext>
                  <apex:outputlink value="/{!dd.accountDetail.id}" target="_blank"><sup>(+)</sup></apex:outputlink>
              </apex:column>-->

              <!--<apex:column headervalue="Previous year dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedPreviousYearMembershipSummary.Amount__c}" />
              </apex:column>-->

              <!--<apex:column headervalue="Millage-based dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Dues_Price__c}" />
              </apex:column>-->

              <!--<apex:column headervalue="Adjusted Amount" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}" value="$0.00" />
                  <apex:outputfield rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, false, true)}" value="{!dd.SelectedYearMembership.Amount__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Amount__c != dd.SelectedYearMembership.Dues_Price__c, true, false)}">***</apex:outputtext>
              </apex:column>-->
          </apex:PageBlockTable>
      <br/>
      
      <!--<table border="0" cellspacing="5px">
          <tr>
            <td>Gross annual dues for canceled companies:</td>
            <td colspan="2" align="right">
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!lapsedDuesDataGrossAnnualDues}"/>
                </apex:outputText>
            </td>
          </tr>
          <tr>
            <td>15% Collection fee:</td>
            <td colspan="2" align="right"><em>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!lapsedDuesDataServiceFee}"/>
                </apex:outputText></em>
            </td>
          </tr>
          <tr>
            <td>LeadingAge dues less collection fee:</td>
            <td colspan="2" align="right"><strong>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!lapsedDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></strong>
            </td>
          </tr>
      </table>-->

      </apex:pageBlock>
<!-- ADJUSTED -->     
      <apex:pageBlock title="Adjusted companies in this state" rendered="{!SelectedYear != -1 && SelectedQuarter != -1 && SelectedYear != null && SelectedQuarter != null}">
          
          <apex:PageBlockTable value="{!adjustedDuesData}" var="dd" >
              
              <apex:column style="width:100px" headervalue="Record ID">
                  <apex:outputlink value="/{!dd.accountDetail.Account__r.ID}" target="_blank">{!dd.accountDetail.Account__r.LeadingAge_ID__c}</apex:outputlink>
              </apex:column>

              <apex:column style="width:300px" headervalue="Company name">
                  <apex:outputtext value="{!dd.accountDetail.Account__r.Name}" />
                  <apex:outputtext rendered="{!IF('Special Arrangement for dues field' == 'Yes', true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column style="width:250px" headervalue="Company type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputfield value="{!dd.accountDetail.Account__r.NU__RecordTypeName__c}" />
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Bill_Jointly__c == true, true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column style="width:250px" headervalue="Affilliation type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputtext value="{!dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.NU__RecordTypeName__c}" />
              </apex:column>

              <apex:column style="width:150px" headervalue="Joined (or reinstated)">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Join_On__c}" />
              </apex:column>

              <apex:column style="width:150px" headervalue="Lapsed">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Membership__r.Last_Provider_Lapsed_On__c}" />
              </apex:column>

              <apex:column style="width:100px" headervalue="Fiscal Year">
                  <apex:outputtext value="{!dd.SelectedYearMembership.Revenue_Year_Submitted__c}" />
                  <apex:outputtext rendered="{!IF(ISNUMBER(dd.SelectedYearMembership.Revenue_Year_Submitted__c), IF(VALUE(dd.SelectedYearMembership.Revenue_Year_Submitted__c) < SelectedYear - 4, true, false), false)}">*</apex:outputtext>
              </apex:column>
 
              <!--<apex:column headervalue="Program Revenue" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Program_Service_Revenue__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Program_Service_Revenue__c == null, true, false)}">**</apex:outputtext>
                  <apex:outputlink value="/{!dd.accountDetail.id}" target="_blank"><sup>(+)</sup></apex:outputlink>
              </apex:column>-->

              <!--<apex:column headervalue="Previous year dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedPreviousYearMembershipSummary.Amount__c}" />
              </apex:column>-->

              <!--<apex:column headervalue="Dues Price Override" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Dues_Price__c}" />
              </apex:column>-->

              <!--<apex:column headervalue="Adjusted Amount" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}" value="$0.00" />
                  <apex:outputfield rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, false, true)}" value="{!dd.SelectedYearMembership.Amount__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Amount__c != dd.SelectedYearMembership.Dues_Price__c, true, false)}">***</apex:outputtext>
              </apex:column>-->
          </apex:PageBlockTable>
      <br/>
      
      <!--<table border="0" cellspacing="5px">
          <tr>
            <td>Gross annual dues for adjusted companies:</td>
            <td colspan="2" align="right">
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!adjustedDuesDataGrossAnnualDues}"/>
                </apex:outputText>
            </td>
          </tr>
          <tr>
            <td>15% Collection fee:</td>
            <td colspan="2" align="right"><em>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!adjustedDuesDataServiceFee}"/>
                </apex:outputText></em>
            </td>
          </tr>
          <tr>
            <td>LeadingAge dues less collection fee:</td>
            <td colspan="2" align="right"><strong>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!adjustedDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></strong>
            </td>
          </tr>
      </table>-->

      </apex:pageBlock>

      <!--<apex:pageBlock title="Total Amount owed/refunded for this quarterly invoice" rendered="{!SelectedYear != -1 && SelectedQuarter != -1 && SelectedYear != null && SelectedQuarter != null}">
      
      <table border="0" cellspacing="5px">
          <tr>
            <td>Dues owed for new member:</td>
            <td colspan="2" align="right"><strong>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!joinedDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></strong>
            </td>
          </tr>
          <tr>
            <td>Dues refunded for canceled members:</td>
            <td colspan="2" align="right"><strong><em>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!lapsedDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></em></strong>
            </td>
          </tr>
          <tr>
            <td>Dues adjustments:</td>
            <td colspan="2" align="right"><strong><em>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!adjustedDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></em></strong>
            </td>
          </tr>
          <tr>
            <td>Invoice total:</td>
            <td colspan="2" align="right"><strong>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!grandTotal}"/>
                </apex:outputText></strong>
            </td>
          </tr>
      </table>

      </apex:pageBlock>-->

      <apex:pageBlock title="Notes" rendered="{!SelectedYear != -1 && SelectedQuarter != -1 && SelectedYear != null && SelectedQuarter != null}">
  
  * This member's fiscal year is outdated <br/>
  <!--** Program revenue has not been reported for this member <br/>
  *** Denotes a member who paid a dues amount that is different from the LeadingAge calculated dues. <br/>
  &dagger; Denotes a member who is billed for dues directly by LeadingAge per a special agreement. <br/>
  Millage Dues  represents a members dues price based on their program service revenue amount only and does not factor in other adjustments to determine the actual invoiced dues amount.<br/>-->
      </apex:pageBlock>
  

<!-- ALL    
      <apex:pageBlock title="All companies in this state (***For testing only***)" rendered="{!SelectedYear != -1 && SelectedQuarter != -1 && SelectedYear != null && SelectedQuarter != null}">
          
          <apex:PageBlockTable value="{!allDuesData}" var="dd" >
              
              <apex:column headervalue="Record ID">
                  <apex:outputlink value="/{!dd.accountDetail.Account__r.ID}" target="_blank">{!dd.accountDetail.Account__r.LeadingAge_ID__c}</apex:outputlink>
              </apex:column>

              <apex:column headervalue="Company name">
                  <apex:outputtext value="{!dd.accountDetail.Account__r.Name}" />
                  <apex:outputtext rendered="{!IF('Special Arrangement for dues field' == 'Yes', true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column headervalue="Company type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputfield value="{!dd.accountDetail.Account__r.NU__RecordTypeName__c}" />
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Bill_Jointly__c == true, true, false)}">&dagger;</apex:outputtext>
              </apex:column>

              <apex:column headervalue="Affilliation type">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}">Corporate&nbsp;</apex:outputtext>
                  <apex:outputtext value="{!dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.NU__RecordTypeName__c}" />
              </apex:column>

              <apex:column headervalue="Joined (or reinstated)">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Join_On__c}" />
              </apex:column>

              <apex:column headervalue="Lapsed">
                  <apex:outputfield value="{!dd.accountDetail.Account__r.Provider_Lapsed_On__c}" />
              </apex:column>

              <apex:column headervalue="Start Date">
                  <apex:outputfield value="{!dd.accountDetail.Start_Date__c}" />
              </apex:column>

              <apex:column headervalue="End Date">
                  <apex:outputfield value="{!dd.accountDetail.End_Date__c}" />
              </apex:column>

              <apex:column headervalue="Fiscal Year">
                  <apex:outputtext value="{!dd.SelectedYearMembership.Revenue_Year_Submitted__c}" />
                  <apex:outputtext rendered="{!IF(ISNUMBER(dd.SelectedYearMembership.Revenue_Year_Submitted__c), IF(VALUE(dd.SelectedYearMembership.Revenue_Year_Submitted__c) < SelectedYear - 4, true, false), false)}">*</apex:outputtext>
              </apex:column>
 
              <apex:column headervalue="Program Revenue" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Program_Service_Revenue__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Program_Service_Revenue__c == null, true, false)}">**</apex:outputtext>
                  <apex:outputlink value="/{!dd.accountDetail.id}" target="_blank"><sup>(+)</sup></apex:outputlink>
              </apex:column>

              <apex:column headervalue="Previous year dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedPreviousYearMembershipSummary.Amount__c}" />
              </apex:column>

              <apex:column headervalue="Millage-based dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Dues_Price__c}" />
              </apex:column>

              <apex:column headervalue="Invoiced dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputtext rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, true, false)}" value="$0.00" />
                  <apex:outputfield rendered="{!IF(dd.accountDetail.Account__r.NU__PrimaryAffiliation__r.Multi_Site_Corporate__c == true, false, true)}" value="{!dd.SelectedYearMembership.Amount__c}" />
                  <apex:outputtext rendered="{!IF(dd.SelectedYearMembership.Amount__c != dd.SelectedYearMembership.Dues_Price__c, true, false)}">***</apex:outputtext>
              </apex:column>
              <apex:column headervalue="Actual dues" style="text-align:right" headerClass="CurrencyElement">
                  <apex:outputfield rendered="false" value="{!dd.accountDetail.Amount__c}" />
              </apex:column>
              <apex:column headervalue="Type">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Type__c}" />
              </apex:column>

              <apex:column headervalue="Date">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Date__c}" />
              </apex:column>

              <apex:column headervalue="Name">
                  <apex:outputfield value="{!dd.SelectedYearMembership.Name}" />
              </apex:column>
                                           
          </apex:PageBlockTable>
      <br/>
      
      <table border="0" cellspacing="5px">
          <tr>
            <td>Gross annual dues for all companies:</td>
            <td colspan="2" align="right">
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!allDuesDataGrossAnnualDues}"/>
                </apex:outputText>
            </td>
          </tr>
          <tr>
            <td>15% Collection fee:</td>
            <td colspan="2" align="right"><em>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!allDuesDataServiceFee}"/>
                </apex:outputText></em>
            </td>
          </tr>
          <tr>
            <td>LeadingAge dues less collection fee:</td>
            <td colspan="2" align="right"><strong>
                <apex:outputText value="${0, number, ###,###.00}">
                    <apex:param value="{!allDuesDataNetLeadingAgeDues}"/>
                </apex:outputText></strong>
            </td>
          </tr>
      </table>

      </apex:pageBlock>
-->  
</apex:page>