<apex:component >
	<apex:attribute name="name" type="String" description="name" />
	<apex:attribute name="street" type="String" description="street" />
	<apex:attribute name="city" type="String" description="city" />
	<apex:attribute name="state" type="String" description="state" />
	<apex:attribute name="postalCode" type="String" description="postalCode" />
	<apex:attribute name="country" type="String" description="country" />
	
	<div id="addressInfo">
    	<apex:outputText rendered="{! name != ''}"><span style="display:block">{!JSENCODE(name)}</span></apex:outputText>
    	<div> <apex:outputText escape="false" value="{!SUBSTITUTE(JSENCODE(street),'\r\n','<br/>')}" /></div>
        <div>{! IF (IsBlank(city), '', JSENCODE(city) & ',')} {!JSENCODE(state)} {!JSENCODE(postalCode)} {!JSENCODE(country)}</div>
    </div>
</apex:component>