<apex:component controller="NU.EmailContentController" access="global">
<apex:attribute assignTo="{!Key}" access="global" name="Key" description="Key" type="String" required="true"/>
<apex:outputText escape="false" value="{!Content}"/>
</apex:component>