<apex:component >
    <apex:attribute name="Items" description="Items" type="SObject[]"/>
    <apex:attribute name="Fields" description="Fields" type="String[]"/>
    <apex:attribute name="NameColumnHeader" description="NameColumnHeader" type="String"/>
    <apex:attribute name="Title" description="Title" type="String"/>
    <apex:attribute name="HideIfEmpty" description="Hide the related list if there are no items to display"  type="Boolean" default="false"/>

    <apex:outputPanel layout="none" rendered="{!Items.size != 0 || HideIfEmpty == false}">
        <style type="text/css">
            .lookupHoverDetail {
                display: none;
            }
        </style>
        <apex:pageBlock mode="maindetail">
            <apex:pageBlockSection columns="1" title="{!Title}">
                <apex:pageBlockTable value="{!Items}" var="i" rendered="{!Items.size > 0}">
                    <apex:column >
                        <apex:facet name="header">
                            {!NameColumnHeader}
                        </apex:facet>
                        <apex:outputLink target="_parent" value="/{!i.Id}">{!i['Name']}</apex:outputLink>
                    </apex:column>
                    <apex:repeat value="{!Fields}" var="c">
                        <apex:column value="{!i[c]}" />
                    </apex:repeat>
                </apex:pageBlockTable>

                <apex:outputPanel rendered="{!Items.size == 0}" styleClass="bRelatedList">
                    <table class="list" border="0" cellspacing="0" cellpadding="0">
                        <tr class="headerRow">
                            <th class="noRowsHeader">No records to display</th>
                        </tr>
                    </table>
                </apex:outputPanel>
            </apex:pageBlockSection>
        </apex:pageBlock>

        <script type="text/javascript">
            var a = document.getElementsByTagName('a');
            for (var i = 0; i < a.length; i++) {
                if (a[i] != undefined) {
                    a[i].target = '_parent';
                }
            }
        </script>
    </apex:outputPanel>
</apex:component>