<apex:page renderas="{!RptRenderAs}" controller="EduFormatted_Controller">
<apex:pageMessages id="msg" />
 <apex:form >
    <apex:pageBlock title="{!PageTitle}" mode="maindetail">
    
       <apex:commandButton action="{! viewConferenceReports }" value="Reports Main Menu" rendered="{!IF(RptRenderAs == '', true, false)}" /> &nbsp; <apex:commandButton value="Print View" action="{!PrintOutput}" rendered="{!IF(RptRenderAs == '' && WizardStep > 1, true, false)}" />
 &nbsp; 
    <apex:commandButton action="{!WizardBack}" value="Back" rendered="{!IF(WizardStep > 1,true,false)}" immediate="true" />

        <apex:outputPanel rendered="{!IF(WizardStep=1,true,false)}">
            <apex:PageBlockSection columns="1">
               <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Report Type" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:selectRadio value="{!RTypeSel}" label="Please select a Report Type from the list" layout="pageDirection">
                                <apex:selectOptions value="{!RTypeItems}"></apex:selectOptions>
                            </apex:selectRadio>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:PageBlockSection>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!IF(WizardStep>1,true,false)}">
            <apex:repeat value="{!SessionInfo}" var="a" rendered="{!IF($CurrentPage.parameters.mt == 'hub',true,false)}">
                <div style="padding: 4px;">
                <b>{!a.Timeslot__r.Session_Date__c}</b><br />
                {!a.Timeslot__r.Session_Time__c}<br />
                {!a.PTF_Code__c} Credit Hours<br />
                <b>{!a.Session_Number__c}-{!a.Timeslot__r.Timeslot_Code__c}. {!a.Title__c}</b><br />
                <ul>
                <li>{!a.Learning_Objective_1__c}</li>
                <li>{!a.Learning_Objective_2__c}</li>
                <li>{!a.Learning_Objective_3__c}</li>
                </ul>
                <b>Speakers:</b><br />
                <apex:repeat value="{!a.Conference_Session_Speakers__r}" var="b">
                            <b>{!b.Speaker__r.FirstName} {!b.Speaker__r.LastName}</b>,
                            {!b.Speaker__r.PersonTitle},
                            {!b.Speaker__r.Speaker_Company_Name_Rollup__c},
                            {!b.Speaker__r.BillingCity},
                            {!b.Speaker__r.BillingState},
                            {!b.Speaker__r.Knowledge_and_Professional_Experience__c} 
                   </apex:repeat><br />
                <apex:outputPanel rendered="{!IF(WizardStep=3,true,false)}">
                    <b>CA RCFE: {!a.CA_RCFE__r.Name}</b><br />
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(WizardStep=4,true,false)}">
                    <b>NAB: {!a.NAB__r.Name}</b><br />
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(WizardStep=5,true,false)}">
                    <b>NASBA: {!a.NASBA__r.Name}</b><br />
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(WizardStep=6,true,false)}">
                    <b>Florida: {!a.Florida__r.Name}</b><br />
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(WizardStep=7,true,false)}">
                    <b>Kansas: {!a.Kansas__r.Name}</b><br />
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(WizardStep=8,true,false)}">
                    <b>Activity Workers Certification: {!a.Activity_Workers_Certification__r.Name}</b><br />
                </apex:outputPanel>
                <apex:outputPanel rendered="{!IF(WizardStep=9,true,false)}">
                    <b>CFRE: {!a.CFRE_Certification__r.Name}</b><br />
                </apex:outputPanel>
                </div>
            </apex:repeat>
            <div style="padding: 4px;">Grand Total: {!SessionInfoSize}</div>
        </apex:outputPanel>

    </apex:pageBlock>
    
    <apex:commandButton action="{!WizardBack}" value="Back" rendered="{!IF(WizardStep > 1 && WizardStep != WizardMax,true,false)}" immediate="true" />    
    <apex:commandButton action="{!WizardNext}" value="Next" rendered="{!IF(WizardStep < 2,true,false)}"/>
 </apex:form>
</apex:page>