<apex:page renderAs="{!RptRenderAs}" controller="EduSpeakerConflict_Controller">
<apex:pageMessages id="msg" />
 <apex:form >
    <apex:pageBlock title="{! Conference.Name }: Session Comparison by Speaker" mode="maindetail">
        <apex:outputPanel rendered="{!IF(RptRenderAs == '', true, false)}">
            <apex:commandButton action="{! viewConferenceReports }" value="Reports Main Menu" /> &nbsp; <apex:commandButton value="Print View" action="{!PrintOutput}" /><br /><br />
        </apex:outputPanel>
        <apex:repeat value="{!SessionData}" var="a">
            <c:GroupHeader HeaderValue="{!a.Speaker__r.LastName}{!a.Speaker__r.FirstName}" HeaderValueDisplay="<hr size=~1~ width=~100%~ /><h2 style=~font-size: larger~>{!a.Speaker__r.LastName}, {!a.Speaker__r.FirstName} &nbsp; Speaker Total: #SOQLCOUNT#</h2><br />" ></c:GroupHeader>
            <div>{!a.Session__r.Session_Number__c}-{!a.Session__r.Timeslot__r.Timeslot_Code__c}: {!a.Session__r.Title__c}</div>
        </apex:repeat>
        <hr size="1" width="100%" /><h2>Grand Total: {!SessionDataSize}</h2><br />
    </apex:pageBlock>
 </apex:form>
</apex:page>