<apex:page renderAs="{!RptRenderAs}" controller="EduSessionComparison_Controller">
<apex:pageMessages id="msg" />
 <apex:form >
    <apex:pageBlock title="{! Conference.Name }: {!PageTitle}" mode="maindetail">
       <apex:outputPanel rendered="{!IF(RptRenderAs == '', true, false)}">
           <apex:commandButton action="{! viewConferenceReports }" value="Reports Main Menu" /> &nbsp; <apex:commandButton value="Print View" action="{!PrintOutput}" /><br />
       </apex:outputPanel>
       <apex:repeat value="{!CEList}" var="a">
            <c:GroupHeader HeaderValue="{!a.Speaker__r.NU__PrimaryAffiliation__r.Name}" HeaderValueDisplay="<hr width=~100%~ size=~1~ /><h2 style=~font-size: larger;~>{!a.Speaker__r.NU__PrimaryAffiliation__r.Name} &nbsp; Company Total: #SOQLCOUNT#</h2>"></c:GroupHeader>
            <div style="padding: 4px;"><table cellspacing="1" cellpadding="1" border="0"><tr><td width="25"><span style="color: red;">({!a.Session__r.Proposal__r.Proposal_Number__c})</span></td><td width="35">{!a.Session__r.Session_Number__c}-{!a.Session__r.Timeslot__r.Timeslot_Code__c}:</td><td>{!a.Session__r.Title__c}</td></tr></table></div>
        </apex:repeat>
        <hr width="100%" size="1" />
        <div style="padding: 4px;"><h2>Grand Total: {!CEListSize}</h2></div>
    </apex:pageBlock>
 </apex:form>
</apex:page>