<apex:page standardController="NU__Cart__c">
	<apex:composition template="NU__OrderProcessTemplate">
    	<apex:define name="externalResources" />
    	<apex:define name="orderMainBody">
        	<c:OrderPurchaseAdvertising id="component"/>
    	</apex:define>
	</apex:composition>
</apex:page>