<apex:page title="Bulk Billing" standardController="NU__BillingHistory__c" tabStyle="NU__BillingHistory__c">
    <apex:stylesheet value="{!URLFOR($Resource.NU__OrderCSS)}"/>
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/smoothness/jquery-ui.css" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" />

    <div id="pleaseWaitModal" class="pleaseWaitModalHidden" title="Please wait...">
        <div style="text-align: center;">
            <apex:image value="{!URLFOR($Resource.NU__Loader)}" />
        </div>
    </div>

    <c:BulkBilling id="BulkBilling" />

    <apex:includeScript value="{!URLFOR($Resource.NU__OrderJS)}"/>
</apex:page>