<apex:page controller="NU.LandingPageController" tabStyle="NU__Committee__c">
 
    <apex:composition template="NU__LandingPageTemplate">
        <apex:define name="sectionHeader">
            <apex:sectionHeader title="Committees" help="{!URLFOR($Page.NU__HelpCommittees)}"/>
        </apex:define>   

        <apex:define name="generalPanel">
            <apex:outputPanel styleClass="general-links-wrapper" layout="block">                         
                <h1>What would you like to do?</h1>
                <apex:form id="generalLinksForm">
                <table width="100%">
                    <tr>
                        <td>                       
                            <apex:outputPanel >                             
                                <apex:outputLink value="{!URLFOR($Action.CommitteeMembership__c.New, $ObjectType.CommitteeMembership__c)}" styleClass="addmember generalLink">New Committee Member</apex:outputLink>             
                            </apex:outputPanel>
                        </td>
                        <td>    
                            <apex:outputPanel >               
                                <apex:commandLink action="{!DashboardURLRedirect}" value="Committee Dashboard" styleClass="dashboard generalLink">
                                    <apex:param value="CommitteeDashboard" assignTo="{!dashboardDeveloperName}"></apex:param>
                                </apex:commandLink>
                            </apex:outputPanel>
                        </td>
                        <td>     
                            <apex:outputPanel >               
                                <apex:commandLink action="{!ReportFolderURLRedirect}" value="Committee Reports" styleClass="reports generalLink">
                                    <apex:param value="NimbleAMSCommittees" assignTo="{!reportFolderDeveloperName}"></apex:param>
                                </apex:commandLink>
                            </apex:outputPanel>
                        </td>
                     </tr>
                </table>        
                </apex:form>
            </apex:outputPanel>
        </apex:define>
        <apex:define name="adminPanel">
            <apex:outputPanel styleclass="admin-links" rendered="{!IF($Profile.Name =='System Administrator', true , false)}" layout="block">
                
                <h1>Administration</h1>
               
                <apex:outputPanel layout="block">               
                    <apex:outputLink value="{!URLFOR($Action.Committee__c.New, $ObjectType.Committee__c)}" styleClass="adminLink">New Committee</apex:outputLink>             
                </apex:outputPanel>
                <apex:outputPanel layout="block">               
                    <apex:outputLink value="{!URLFOR($Action.CommitteePosition__c.New, $ObjectType.CommitteePosition__c)}" styleClass="adminLink">New Committee Position</apex:outputLink>             
                </apex:outputPanel>
            </apex:outputPanel>     
        </apex:define>
        <apex:define name="objectPageBlockSection">
            <apex:pageBlockSection title="Committees" columns="1">
                <apex:enhancedList height="500" type="Committee__c" />
            </apex:pageBlockSection>
        </apex:define>
     </apex:composition>
</apex:page>