<apex:page standardController="NU__DeferredSchedule__c" extensions="NU.DeferredScheduleForecastDetailController">

	<style type="text/css">
		.rightAlign{
			text-align: right;
		}
		
		.highlight {
			background-color: rgb(227, 227, 215);
		}
	</style>

	<apex:pageBlock >
		<apex:pageBlockTable value="{!ForecastDetails}" var="forecastDetail">
			<apex:column headerValue="Date" styleClass="{! IF(forecastDetail.isForecasted == false, 'highlight', '')}">
				<apex:outputText value="{0,date,MM/dd/yyyy}">
					<apex:param value="{!forecastDetail.RecognitionDate}" />
				</apex:outputText>
			</apex:column>
			
			<apex:column headerValue="Deferred Amount" headerClass="rightAlign"  styleClass="rightAlign {! IF(forecastDetail.isForecasted == false, 'highlight', '') }">
				<apex:outputText value="{0,number,$##,##0.00}">
					<apex:param value="{!forecastDetail.DeferredAmount}" />
				</apex:outputText>
			</apex:column>
			
			<apex:column headerValue="Revenue Recognized" headerClass="rightAlign"  styleClass="rightAlign {! IF(forecastDetail.isForecasted == false, 'highlight', '') }">
				<apex:outputText value="{0,number,$##,##0.00}">
					<apex:param value="{!forecastDetail.RevenueRecognized}" />
				</apex:outputText>
			</apex:column>
			
			<apex:column headerValue="Deferred Balance" headerClass="rightAlign"  styleClass="rightAlign {! IF(forecastDetail.isForecasted == false, 'highlight', '') }">
				<apex:outputText value="{0,number,$##,##0.00}">
					<apex:param value="{!forecastDetail.DeferredBalance}" />
				</apex:outputText>
			</apex:column>
			
			<apex:column headerValue="Cumulative Revenue Recognized" headerClass="rightAlign"  styleClass="rightAlign {! IF(forecastDetail.isForecasted == false, 'highlight', '') }">
				<apex:outputText value="{0,number,$##,##0.00}">
					<apex:param value="{!forecastDetail.CumulativeRevenueRecognized}" />
				</apex:outputText>
			</apex:column>
			
			<apex:column headerValue="Forecast?" headerClass="rightAlign" styleClass="rightAlign {! IF(forecastDetail.isForecasted == false, 'highlight', '') }">
				<apex:outputText value="{! If (forecastDetail.isForecasted, 'Yes', 'No')}" />
			</apex:column>
		</apex:pageBlockTable>
	</apex:pageBlock>
</apex:page>