<apex:page controller="NU.LandingPageController" tabStyle="NU__Donation__c">
 
    <apex:composition template="NU__LandingPageTemplate">
        <apex:define name="sectionHeader">
            <apex:sectionHeader title="Donations" help="{!URLFOR($Page.NU__HelpDonations)}"/>
        </apex:define>   
        <apex:define name="generalPanel">
            <apex:outputPanel styleClass="general-links-wrapper" layout="block">                         
                <h1>What would you like to do?</h1>
                <apex:form id="generalLinksForm">
                <table width="100%">
                    <tr>
                        <td>                        
                            <apex:outputPanel >                             
                                <apex:outputLink value="{!URLFOR($Action.Donation__c.New, $ObjectType.Donation__c)}" styleClass="newdonation generalLink">New Donation</apex:outputLink>             
                            </apex:outputPanel>
                        </td>
                        <td>    
                            <apex:outputPanel >               
                                <apex:commandLink action="{!DashboardURLRedirect}" value="Donation Dashboard" styleClass="dashboard generalLink">
                                    <apex:param value="DonationDashboard" assignTo="{!dashboardDeveloperName}"></apex:param>
                                </apex:commandLink>
                            </apex:outputPanel>
                        </td>
                        <td>     
                            <apex:outputPanel >               
                                <apex:commandLink action="{!ReportFolderURLRedirect}" value="Donation Reports" styleClass="reports generalLink">
                                    <apex:param value="NimbleAMSDonations" assignTo="{!reportFolderDeveloperName}"></apex:param>
                                </apex:commandLink>
                            </apex:outputPanel>
                        </td>                      
                    </tr>
                </table>        
                </apex:form>
            </apex:outputPanel>
        </apex:define>
        <apex:define name="adminPanel">
            <apex:outputPanel styleclass="admin-links" rendered="{!IF($Profile.Name =='System Administrator', true , false)}" layout="block">
                
                <h1>Administration</h1>
               
                <apex:outputPanel layout="block">               
                    <apex:outputLink value="{!URLFOR($Action.Product__c.New, $ObjectType.Product__c)}" styleClass="adminLink">New Product</apex:outputLink>             
                </apex:outputPanel>
            </apex:outputPanel>     
        </apex:define>
        <apex:define name="objectPageBlockSection">
            <apex:pageBlockSection title="Donations" columns="1">
                <apex:enhancedList height="500" type="Donation__c" />
            </apex:pageBlockSection>
        </apex:define>
     </apex:composition>
</apex:page>