<apex:page controller="NU.HelpRedirect" action="{!doCreditCardIssuers}" >
 <apex:form >
        <apex:commandButton action="{!doDefault}" value="Open Nimble AMS Online Help"/>
 </apex:form>
</apex:page>