<!-- This is a template class to use when making new Help* classes. -->
<!-- Just update the apex:page action. Do not copy these comments. -->
<!-- The commandbutton is a failsafe and should not display when the page is used correctly. -->
<!-- See the controller for more. -->
<apex:page controller="NU.HelpRedirect" action="{!doDefault}" >
 <apex:form >
        <apex:commandButton action="{!doDefault}" value="Open Nimble AMS Online Help"/>
 </apex:form>
</apex:page>