<apex:page standardController="NU__Order__c" extensions="NU.RelatedListOrderMemberships">
	<c:RelatedList Items="{!Memberships}"
		Fields="{!$ObjectType.NU__Membership__c.FieldSets.NU__MembershipColumns}"
		NameColumnHeader="{!$ObjectType.NU__Membership__c.fields.Name.label}" />
</apex:page>