<apex:page standardController="NU__Order__c" extensions="NU.RelatedListOrderSubscriptions">
	<c:RelatedList Items="{!Subscriptions}"
		Fields="{!$ObjectType.NU__Subscription__c.FieldSets.NU__SubscriptionColumns}"
		NameColumnHeader="{!$ObjectType.NU__Subscription__c.fields.Name.label}" />
</apex:page>