<apex:page standardController="NU__Registration2__c" extensions="NU.SendRegistrationCancelled" showHeader="false" sidebar="false">
<h1>Send Registration Cancelled Notification</h1>
<apex:pageMessages />
<apex:form >
    <apex:outputPanel layout="none" rendered="{!BillTo != null}">
        <p>Recipient: {!BillTo.Name} ({!BillTo.PersonContact__r.Email})</p>
        <apex:commandButton value="Send Email" action="{!Send}" />
    </apex:outputPanel>
</apex:form>
</apex:page>