<apex:component controller="NU.CartItemSettingController" allowDML="true">
    <apex:pageBlock mode="mainDetail" title="Cart Item Settings" id="CartItemSettings">
        <apex:pageMessages />
        <apex:pageBlockTable value="{!Settings}" var="setting">
            <apex:column headerValue="Action" styleClass="actionColumn">
                <apex:commandLink value="Delete" action="{!remove}" immediate="true" rerender="CartItemSettings">
                    <apex:param value="{!setting.Index}" name="index" />
                </apex:commandLink>
            </apex:column>
            <apex:column headerValue="Product Record Type">
                <apex:inputField value="{!setting.Record.Name}" style="width: 50%;"/>
            </apex:column>
            <apex:column headerValue="Cart Item Constructor Class">
                <apex:inputField value="{!setting.Record.NU__ConstructorType__c}" style="width: 50%;"/>
            </apex:column>
        </apex:pageBlockTable>
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="New" action="{!add}" rerender="CartItemSettings" immediate="true" />
            <apex:commandButton value="Save" action="{!save}" rerender="CartItemSettings" />
        </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:component>