<apex:component >
	<apex:attribute name="invoiceNumber" type="String" description="invoice number" />
	<apex:attribute name="name" type="String" description="name"/>
	<apex:attribute name="balance" type="Decimal" description="balance" />
	<apex:attribute name="street" type="String" description="remittance street"/>
	<apex:attribute name="city" type="String" description="remittance city"/>
	<apex:attribute name="state" type="String" description="remittance state"/>
	<apex:attribute name="postalCode" type="String" description="remittance postal code"/>
	<apex:attribute name="country" type="String" description="remittance country"/>
	<apex:attribute name="creditCardsAccepted" type="NU__CreditCardIssuer__c[]" description="The credit cards accepted by this entity." />
	<apex:attribute name="entity" type="NU__Entity__c" description="The entity" />

	<apex:outputPanel rendered="{!balance != 0}" style="display:block;border-top:1px dashed #3B5E91;margin-top:50px;padding-top:10px;page-break-inside:avoid">
	<!--<div style="border-top:1px dashed #3B5E91;margin-top:50px;padding-top:10px;page-break-inside:avoid">-->

		<h3 style="display:inline-block;margin-top:0px">Remittance</h3>

		<div style="margin-left: 6px;">
			<span style="font-weight:bold; padding-right:10px;">Invoice Number</span><span>{!invoiceNumber}</span>
			<span style="font-weight:bold; padding-right:10px; padding-left: 20px;">Name</span><span>{!name}</span>
			<span style="font-weight:bold; padding-right:10px; padding-left: 20px;">Balance</span><span >$<apex:outputText value="{0,number,0.00}"><apex:param value="{!balance}"/></apex:outputText></span>
			<span style="font-weight:bold; padding-right:10px; padding-left: 20px;">Payment</span><span>__________</span>
		</div>

   		<table style="margin:20px 5px 5px 5px; border-collapse:collapse; width: 100%;">
 			<tr>
 				<td style="font-weight:bold;vertical-align:top;padding-right:10px">Mail To</td>
 				<td style="vertical-align: top;">
 					<c:Address street="{!street}"
 					   city="{!city}"
 					   state="{!state}"
 					   postalcode="{!postalcode}"
 					   country="{!country}" />
 				</td>
 				<td style="vertical-align: top; padding-left: 30px">
 					<span style="font-weight: bold;">Make Checks Payable To</span>&nbsp;<apex:outputText value="{!entity.Name}" />
 				</td>
 			</tr>
 			<apex:outputPanel rendered="{! entity.RemittanceText__c != ''}">
	 			<tr>
	 				<td colspan="3" style="vertical-align: top; padding-top: 20px;">
	 					<apex:outputField value="{!entity.NU__RemittanceText__c}" />
	 				</td>
	 			</tr>
 			</apex:outputPanel>
 			
 			<apex:outputPanel rendered="{! IsBlank(creditCardsAccepted) = False && creditCardsAccepted.size > 0}">
 			<tr>
 				<td colspan="3" style="vertical-align: top; padding-top: 20px;">
 					<span style="font-weight: bold;">Credit Card</span>

		    		<table style="border-collapse:collapse; margin-top: 10px;">
	    				<tr>
		    				<td rowspan="4" style="font-weight:bold;padding-right:10px; vertical-align: top;">Type</td>
	    					<td rowspan="4" style="vertical-align: top;">
	    						<apex:Repeat value="{!creditCardsAccepted}" var="creditCardAccepted">
	    							<div>
		    							<span style="border: 1px solid black; height: 10px; width: 10px; display: inline-block; margin-right: 5px;" />
		    							<apex:outputText value="{!creditCardAccepted}" style="padding-right: 10px;" />
	    							</div>
	    						</apex:Repeat>
	    					</td>
	    				</tr>
	    				<tr>
	    					<td style="font-weight:bold;padding-right:10px; padding-left: 15px; vertical-align: top;">Name</td>
	    					<td style="vertical-align: top;">______________________________</td>
	    				</tr>
	    				<tr>
	    					<td style="font-weight:bold;padding-right:10px; padding-left: 15px; padding-top: 10px; padding-bottom: 10px; vertical-align: top;">Number</td>
	    					<td style="vertical-align: top; padding-top: 10px; padding-bottom: 10px;">______________________________</td>
	    				</tr>
	    				<tr>
	    					<td style="font-weight:bold;padding-right:10px; padding-left: 15px; vertical-align: top;">Exp. Date</td>
	    					<td style="vertical-align: top;">____ / ____</td>
	    				</tr>
	    			</table>
 				</td>
 			</tr>
 			</apex:outputPanel>
 		</table>
	</apex:outputPanel>
	<!--</div>-->
</apex:component>